AddDefaultCharset utf-8

#RewriteEngine on
#RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ index.php

# Попробуйте эту настройку .htaccess, если у Вас возникли проблемы с отображением
# стилей css
#AddDefaultCharset cp-1251
